body{
    background-color: darkgreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
}


h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button{
    border-radius: 2px;
    border: none;
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-top: 2px;

}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
